<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman" default=""/>
    <arg name="wheel" doc="Unique name of the wheel (e.g., left)"/>
    <arg name="node_name" default="wheel_encoder_node"/>
    <arg name="param_file_name" default="left_wheel" doc="Specify a param file. ex:megaman." />
    <group if="$(eval veh == '')">
        <node pkg="vpa_basecontrol" type="wheel_encoder.py" name="$(arg wheel)_$(arg node_name)" output="screen" required="true">
            <param name="veh" type="str" value="$(arg veh)"/>
            <param name="name" type="str" value="$(arg wheel)"/>
            <rosparam command="load" file="$(find vpa_basecontrol)/scripts/include/encoder_config/$(arg param_file_name).yaml"/>
        </node>
    </group>
    <group unless="$(eval veh == '')">
        <group ns="$(arg veh)">
            <node pkg="vpa_basecontrol" type="wheel_encoder.py"
                name="$(arg wheel)_$(arg node_name)" output="screen" required="true">
                <param name="veh" type="str" value="$(arg veh)"/>
                <param name="name" type="str" value="$(arg wheel)"/>
                <rosparam command="load" file="$(find vpa_basecontrol)/scripts/include/encoder_config/$(arg param_file_name).yaml"/>
            </node>
        </group>
    </group>
</launch>